[submodule "testing-submodule-feature-1"]
	path = testing-submodule-feature-1
	url = git@github.com:thantko20/testing-submodule-feature-1.git
[submodule "testing-submodule-feature-2"]
	path = testing-submodule-feature-2
	url = git@github.com:thantko20/testing-submodule-feature-2.git
